
.event__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #463F3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #463F3A;
}

.event__list-item h2 {
    margin: 0;
    font-size: 1rem;
    color: #8A817C;
}

.event__list-item p {
    margin: 0;
}